@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');


body{
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
    box-sizing: border-box;
}

li{
    margin-right: 3%;
    margin-left: 3%
}

.section-img{
    max-width: 100px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.section-div{
    width: 33%;
    padding: 2%;
}